/*COLORS:
Header background - #FFDBAA
button - #805215
Header Text - #553100
Main background - #D4A76A*/

body,hr {
  padding: 0;
  margin: 0;
}

header {
  background-color: #FFDBAA;
  color: #553100;
  font-weight: bold;
  text-transform: uppercase;
  display: grid;
  grid-template-columns: auto auto;
  justify-items: center;
  align-items: center;
}

button {
  background-color: #805215;
  color: white;
  font-weight: bold;
  padding: 12px;
  border: 1px solid black;
}

.navButton {
  text-transform: uppercase;
  margin: 10px;
  border: 0;
}

main {
  background-color: #D4A76A;
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

section {
  background-color: white;
  border: white;
  border-style: solid;
  border-width: 10px;
  display: grid;
  box-shadow: 0px 0px 10px black;
}

.offer {
  width: 250px;
}

.offer h3 {
  margin: 0;
  text-align: center;
}

.offer p {
  margin-top: 10px;
  margin-bottom: 10px;
}